<div class="welcome-jumbo">
  <div class="center jumbotron">
    <h1>Welcome to Control Sneak</h1>
    <h2>
      <p>Login or Sign up to get started. Don't forget to tell your friends or guests, you'll need people to play with!</p>
    </h2>
    <%= link_to "Get Started!", gamerooms_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>