<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row custom-title center">
    <h1>Game Rooms</h1>
    <%= link_to 'Create Gameroom', new_gameroom_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
<%#
<h2>Filter</h2>
<div class="gameroom-filters">
  <button type="button" class="btn btn-primary filter-option">Reset</button>
  <div class="checkbox filter-option">
    <label><input type="checkbox" value="">Only My Games</label>
  </div>
  <div class="checkbox filter-option">
    <label><input type="checkbox" value="">Active Games</label>
  </div>
</div>
%>

<div class="container">
  <div class="row"> 
  <% @gamerooms.reverse.each do |gameroom, index| %>
    <%= link_to join_gameroom_path(gameroom), method: :join do %>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="gameroom-tile">
      <h2><%= gameroom.title %></h2>
      <p></p>
      </div>
    </div>
    <% end %>
  <% end %>
  </div>
</div>
