<p id="notice"><%= notice %></p>

<div class="container custom-title center">
  <div class="row">
    <h2>Welcome to... <%= @gameroom.title %></h2>
    <p>
      <% if @gameroom.users.count == 1 %>
        Get some friends you big pample! you can't play this game alone unfortunately...
      <% else %>
        <%= link_to 'Create Phrase', new_gameroom_gameword_path(@gameroom), class: "btn btn-lg btn-primary" %>
      <% end %>
    </p>
  </div>
</div>


<h2>Player List</h2>
<p>
  <% @gameroom.users.each do |user| %>
    <%= user.username %> </br>
  <% end %>
</p>