/* RGB */
$pamplemouse:#FFBB66;
$darkpample:#ffa266;
$antipample:#66aaff;
$lightantipample:#66c3ff;


#navbar {
  img{
    max-width:40px;
    margin: 10px 0 10px 10px;
  }
  #logo-link{
    float:left;
  }
  a:hover{
    background-color:#222;
  }
}

body {
  padding-top: 80px;
  background:$antipample;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.gameroom-tile{
  text-align:center;
  background-color:$pamplemouse;
  border:solid 5px $darkpample;
  padding:15px;
  border-radius:5px;
  margin-bottom:15px;
  cursor:pointer;
  &:hover{
    background-color:$antipample;
    border-color:#66c3ff;
  }
  h2{
    padding:0;
  }
}

.welcome-jumbo{
  .jumbotron{
    background-color:$pamplemouse;
  }
  .btn-primary{
    background-color:$antipample;
    border:solid 5px $lightantipample;
    transition:.5s;
    &:hover{
    background-color:$lightantipample;
    border-color:$antipample;
    }
  }
}

.gameroom-filters{
  display: inline-block;
  padding: 0 0 10px 0;
  .filter-option{
    display:inline;
    padding: 0 10px;
  }
}

.custom-title{
  padding: 0 0 20px 0;
  .btn-primary{
    background-color:$antipample;
    border:solid 5px $lightantipample;
    &:hover{
    background-color:$lightantipample;
    border-color:$antipample;
    }
  }
}

.gameroom-section{
  text-align:center;
  background-color:$pamplemouse;
  border:solid 5px $darkpample;
  padding:15px;
  border-radius:5px;
  margin-bottom:15px;
  h2{
    padding:0;
  }
}