/* RGB */
$color1: rgba(255, 132, 38, 1);
$color2: rgba(244, 94, 29, 1);
$color3: rgba(219, 48, 21, 1);
$color4: rgba(188, 5, 5, 1);
$color5: rgba(23, 183, 208, 1);



#navbar {
  img{
    max-width:40px;
    margin: 10px 0 10px 10px;
  }
  #logo-link{
    float:left;
  }
  a:hover{
    background-color:#222;
  }
}

body {
  padding-top: 80px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}